<aside id="sidebar" class="card shadow">
	{% if include.pinned-posts %}{% include pinned-posts.html count=layout.pinned-posts %}{% endif %}
	<ad-block url="https://events.kernvalley.us" itemtype="https://schema.org/WPAdBlock" itemscope="" class="card shadow">
		<img src="https://events.kernvalley.us/img/favicon.svg" alt="logo" slot="image" width="96" height="96" />
		<b slot="label">Kern Valley Events</b>
		<p slot="description">The best things going on in the Valley</p>
		<span slot="calltoaction">See what's going on today.</span>
	</ad-block>
	{% if include.recent-posts %}{% include recent-posts.html count=layout.recent-posts %}{% endif %}
</aside>
